* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
  margin: 10px;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

a {
  color: #332042;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.d-flex {
  display: flex;
}

.screen-landing, .screen-choose-player {
  background-color: #0b082a;
  height: 100vh;
}

.title, .menu-title {
  color: #f6f6f6;
  padding-bottom: 50px;
  padding-top: 100px;
}

/* LANDING SCREEN */
.playBtn {
  border: 2px solid #332042;
  border-radius: 225px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 25%;
}

.playBtn:hover, .start-btn:hover {
  transform: scale(1.15);
  transition: .5s ease;
}

.created-by {
  color: #f6f6f6;
  margin-top: 100px;
  text-align: center;
}

/* CHOOSE PLAYER SCREEN */
.players {
  align-items: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('../assets/backgrounds/bg-night.png');
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.player:hover {
  transform: scale(1.15);
  transition: .5s ease;
}

.player {
  width: 100%;
}

.start-btn {
  border: 2px solid #332042;
  margin-top: 50px;
  padding: 0 15px;
  width: 20%;
}
